@inject BRMDbService db
@inject StaticService staticservice
@inject SessionService sessionservice

<div class="modal" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0973B6">
                <h5 class="modal-title">Change Office</h5>
            </div>
            <div class="modal-body">
                <EditForm Model="@office" OnValidSubmit="@(() => btnOk_Click())">
                <div class="input-group mb-3">
                    <span class="input-group-text">Region</span>
                        <InputSelect class="form-select" ValueExpression="@(() => office.RegionId)" Value="@office.RegionId" ValueChanged="@((string value) => SelectRegion(value))">
                        <option selected>select...</option>
                        @foreach (var region in staticservice.GetRegions())
                        {
                            <option value="@region.Key">@region.Value</option>
                        }
                    </InputSelect>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Office</span>
                    <InputSelect class="form-select" ValueExpression="@(() => office.OfficeId)" Value="office.OfficeId" ValueChanged="@((string value) => SelectOffice(value))">
                            <option selected>select...</option>
                        @foreach (var val in staticservice.GetOffices(office.RegionId).Where(o => o.ActiveStatus == "A"))
                        {

                            <option value="@val.OfficeId">@val.OfficeName</option>
                        }
                    </InputSelect>
                </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Fixed Service Point</span>
                        <InputSelect class="form-select" ValueExpression="@(() => office.FspId)" Value="@((decimal?)office.FspId)" ValueChanged="@((decimal? e) => SelectServicePoint(e))">
                            <option selected>select...</option>
                            @foreach (var fsp in staticservice.GetOfficeServicePoints(office.OfficeId))
                            {
                                <option value="@fsp.Id">@fsp.ServicePointName</option>
                            }
                        </InputSelect>
                    </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="btnCancel_Click">Cancel</button>
                    <button class="btn btn-primary active" type="submit">Ok</button>
                </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public EventCallback Cancel { get; set; }

    protected UserOffice office = new UserOffice();

    protected override void OnInitialized()
    {
        office = sessionservice.session!.Office;
    }

    protected async Task btnOk_Click()
    {
        await staticservice.UpdateUserLocalOffice(office!.OfficeId!, office.FspId, sessionservice.session!.SamName!, sessionservice.session.IsInRole("GRP_BRM_Supervisors") ? "Y" : "N");
        sessionservice.UpdateUserOffice();
        await Cancel.InvokeAsync();
    }
    protected void btnCancel_Click()
    {
        Cancel.InvokeAsync();
    }

    protected void SelectRegion(string regionid)
    {
        office.RegionId = regionid;
        office.OfficeId = staticservice.GetOffices(office.RegionId).First().OfficeId;
    }

    protected void SelectOffice(string officeid)
    {
        office.OfficeId = officeid;
        office.FspId = null;

    }

    private void SelectServicePoint(decimal? e)
    {
        office.FspId = e;

    }

    //private void SelectServicePoint(ChangeEventArgs e)
    //{
    //    office.FspId = (int?)e.Value;

    //}

}