<div class="whiteArea">
    @if (Model.result != null)
    {

        <strong>@Model.Title</strong>
        <hr />
        <div style="min-height:400px;">
            <table class="table table-sm" style="font-size: small; ">
                <thead>
                    <tr>
                        @foreach (DataColumn prop in pagedTable.Columns)
                        {
                            <th scope="col">@prop.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (DataRow row in pagedTable.Rows)
                    {
                        <tr>
                            @foreach (object? item in row.ItemArray)
                            {
                                <td scope="col">@(item == null? "": item.ToString())</td>
                            }
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <Pager TotalSize="@(Model.result.Rows.Count -1)" Paged="@OnPaged"></Pager>

    }
    else
    {
        <strong>@Model.Title</strong>
        <hr />
        <p>No Data.</p>
    }
</div>
@code {

    [Parameter]
    public ReportViewModel Model { get; set; }

    DataTable pagedTable;
    int page = 1;
    protected override void OnInitialized()
    {
        OnPaged(page);
    }

    protected void OnPaged(int _page)
    {
        page = _page;
        pagedTable = Model.result.Clone();
        var pageRows = Model.result.AsEnumerable().Skip((page - 1) * 12).Take(12).ToList();
        foreach (var row in pageRows)
        {
            pagedTable.Rows.Add(row.ItemArray);
        }
    }

}
