@inject ReportDataService rs

@* Old *@
@inject Navigation Navigate
@inject SessionService sessionservice
@inject BRMDbService db
@inject IAlertService toast
@inject IJSRuntime Js
@inject IWebHostEnvironment env

@inject ReportDataService rd

@using System.Text
@using System.IO;
@using Sassa.BRM.Data.ViewModels;

        @if (files.count > 0)
        {
            <div class="row">

                <table class="table table-sm" style="font-size:small;">
                    <thead>
                        <tr>
                            <th scope="col">ReportName</th>
                            <th scope="col">User</th>
                            <th scope="col">Type</th>
                            <th scope="col">Region</th>
                            <th scope="col">Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CsvListItem p in files.result)
                        {
                            <tr>
                                <td>@p.ReportName</td>
                                <td>@p.UserName</td>
                                <td>@p.FileName</td>
                                <td>@p.RegionCode</td>
                                <td>@p.ReportDate</td>
                                <td>
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-primary btn-sm" style="width: 160px; margin: 5px 0 5px;" @onclick="@(() => btnResend_Click(@p.FileName))">Resend batch</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <Pager Paged="OnPaged" TotalSize="@files.count" PageSize="20"></Pager>
            </div>
        }


@code {

    PagedResult<CsvListItem> files;


    int page = 1;

    protected override void OnInitialized()
    {
        OnPaged(page);
    }

    protected void btnResend_Click(string fileName)
    {
        db.ResendFile(fileName);
    }

    protected void OnPaged(int _page)
    {
        page = _page;
        files = rs.GetTdwFiles(sessionservice.session.Office.RegionCode, sessionservice.session.SamName, page);
    }
}
