@page "/"
@page "/brmprod"
@inject BRMDbService db
<AuthorizeView>
    @if (gsession != null)
    {
        if (showOfficeModal)
        {
            <ChangeOffice Cancel="OnCloseModal"></ChangeOffice>
        }
<div class="row" >
    <div class="whiteArea col">
        <span><strong>User Details</strong></span>
        <div class="input-group mb-1">
            <span class="input-group-text">Name</span>
            <label type="text" class="form-control">@db.session.Name</label>
        </div>
        <div class="input-group mb-1">
            <span class="input-group-text">Surname</span>
            <label type="text" class="form-control">@db.session.Surname</label>
        </div>
        <div class="input-group mb-1">
            <span class="input-group-text">Email</span>
            <label type="text" class="form-control">@db.session.Email</label>
        </div>
        <div class="input-group mb-1">
            <span class="input-group-text">Region</span>
            <label type="text" class="form-control">@db.session.Office.RegionName</label>
        </div>
        <div class="input-group mb-1">
            <span class="input-group-text">Office</span>
            <label type="text" class="form-control">@db.session.Office.OfficeName</label>
            <button class="btn btn-primary active" @onclick="ShowOfficeModal">Change Office</button>
        </div>
        <div class="input-group mb-1">
            <span class="input-group-text">Office Type</span>
            <label type="text" class="form-control">@db.session.Office.OfficeType</label>
        </div>
        <div class="input-group mb-1">
            <span class="input-group-text">Supervisor</span>
            <label type="text" class="form-control">@(db.session.IsInRole("GRP_BRM_Supervisors") ? "Yes" : "No")</label>
        </div>
    </div>
    <div class="whiteArea col">
        <span><strong>Roles</strong></span>
        @foreach (var role in db.session.Roles)
        {
            <label type="text" class="form-control">@role</label>
        }
    </div>
</div>
            }
            else
            {
            <div class="whiteArea">
                <div class="spinner spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            }
            
</AuthorizeView>
    @code
{
        bool showOfficeModal;
        UserSession gsession;

        protected override void OnInitialized()
        {
            db.SessionInitialized += new EventHandler(OnSessionChanged);
            OnSessionChanged(this, EventArgs.Empty);

        }

        private void OnSessionChanged(object sender, EventArgs args)
        {
            gsession = db.session;
            //StateHasChanged();
        }

        protected void OnCloseModal()
        {
            //StateHasChanged();
            showOfficeModal = false;
        }

        protected void ShowOfficeModal()
        {
            //System.Threading.Tasks.Task.Run(() => db.GetLocalOffice());
            showOfficeModal = true;
        }
    }

