@page "/useradmin"

@inject SassaUserStore ustore
@inject SMSSender sender

<h3>Portal User Admin <strong class="text-danger">LIVE USER DATABASE AS IN PROD</strong></h3>
<hr />

<div id="pdf">
    <p>Search part of Id No, Cell No or Email.</p>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <!--width is set by this div -->
            <div class="input-group mb-3">
                <input class="form-control" @bind="searchText" />
                <button type="button" class="btn btn-primary btn-sm form-control" @onclick="@(()  => FindUsers(searchText))"><span class="oi oi-magnifying-glass" aria-hidden="true"></span></button>
            </div>
            </div>
        </div>
            @if (users != null)
            {
                <table class="table table-sm" style="font-size:small;">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Id No</th>
                            <th scope="col">Cell No</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var u in users)
                        {
                            <tr>
                                <td>@u.FullName</td>
                                <td>@u.IdNo</td>
                                <td>@u.CellNumber</td>
                                <td>@u.Email</td>
                                <td>@(u.IsCellConfirmed?"Pin Confirmed":"Pin Sent")</td>
                                <td><button type="button" class="btn btn-primary btn-sm" @onclick="@(() => btnResend_Click(u))">Resend Pin</button></td>
                                <td><button type="button" class="btn btn-primary btn-sm" @onclick="@(() => btnReset_Click(u))">Delete</button></td>
                            </tr>
                        }

                    </tbody>
                </table>

            }
        </div>

        @code {

            protected List<SassaUser> users = null;
            protected string searchText;
            protected SassaUser user;

            void FindUsers(string searchString)
            {
                users = ustore.SearchUsers(searchString);
            }

            private async Task btnResend_Click(SassaUser user)
            {
                //Create a pin
                //SassaUser user = await userManager.FindByEmailAsync(selecteduser.Email);
                Random _rdm = new Random();
                user.PasswordSalt = _rdm.Next(1000, 9999).ToString().Trim();
                user.CellNumberConfirmed = 0;
                await ustore.UpdateUser(user);
                await sender.SendSMSAsync(user.CellNumber, $"Sassa Verification PIN: {user.PasswordSalt}");
            }

            protected async Task btnReset_Click(SassaUser u)
            {
                await ustore.DeleteUser(u);
            }
        }
