@page "/"
@inject TimedService ts;
@inject IConfiguration config;
@inject JsonFileUtils fu;

<PageTitle>Progress page</PageTitle>

<h1>DC_SOCPEN data update progress</h1>
<br />
<hr/>

<div class="col float-right">
    <div class="input-group input-group-sm">
        <div class="input-group-prepend"><span class="input-group-text">Next Update :</span></div>
        <input @bind=ts.Globals.NextRefreshDate class="form-control" type="date" />
        <input class="form-control" type="time" @bind=Scheduletime />
        <button type="button" class="btn btn-primary btn-sm form-control" @onclick="@(() => Start_Click())">@(ts.Globals.Status ? "Stop" : "Start")</button>
        <button type="button" class="btn btn-primary btn-sm form-control" @onclick="@(() => Run_Click())">Run Once</button>
    </div>
</div>



Last update :<span>@ts.Globals.LastRunDate.ToString()</span>
Current Task:<span>@ts.Globals.Progress</span>



@code{

    TimeOnly Scheduletime { get; set; } = TimeOnly.FromDateTime(DateTime.Now);
    protected override void OnInitialized()
    {

    }
    protected void Run_Click()
    {
        ts.Run();
    }
    protected async Task Start_Click()
    {
        ts.Globals.NextRefreshDate = DateTime.Parse(ts.Globals.NextRefreshDate.ToString("yyyy-MM-dd") + " " + Scheduletime.ToString());
        ts.Globals.Status = !ts.Globals.Status;
        fu.WriteJson(ts.Globals, ts.fileName);
        if (ts.Globals.Status)
        {
                await ts.Start(false);
        }
    }


}